<article data-aos="fade-in" class="module inside modular-row form {{ page.header.class }}">
    <div id="contact-anchor" class="anchor"></div>
    <h2>Contact Us</h2>
    <div class="form__description">
        {{ content|raw }}
    </div>
    {% include "forms/form.html.twig" %}
</article>