<!-- HTML Meta Tags -->
<title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<meta name="description" content="OSISM is a powerful deployment and lifecycle management framework for software-defined infrastructure like OpenStack and hyper-converged Ceph.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://osism.tech">
<meta property="og:type" content="website">
<meta property="og:title" content="OSISM">
<meta property="og:description" content="OSISM is a powerful deployment and lifecycle management framework for software-defined infrastructure like OpenStack and hyper-converged Ceph.">
<meta property="og:image" content="https://osism.tech/osism_logo_og.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="https://osism.tech">
<meta property="twitter:url" content="https://osism.tech">
<meta name="twitter:title" content="OSISM">
<meta name="twitter:description" content="OSISM is a powerful deployment and lifecycle management framework for software-defined infrastructure like OpenStack and hyper-converged Ceph.">
<meta name="twitter:image" content="https://osism.tech/osism_logo_og.png">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="user/pages/01.home/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="user/pages/01.home/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="user/pages/01.home/favicon-16x16.png">
<link rel="mask-icon" href="user/pages/01.home/safari-pinned-tab.svg" color="#fd7e14">
<meta name="msapplication-TileColor" content="#fd7e14">
<meta name="theme-color" content="#ffffff">