@font-face{
    font-family: "Roboto Regular";
    src: url('../fonts/Roboto-Regular.ttf');
    font-display: swap;
}
@font-face{
    font-family: "Poppins Thin";
    src: url('../fonts/Poppins-Thin.ttf');
    font-display: swap;
}
@font-face{
    font-family: "Urbanist Bold";
    src: url('../fonts/Urbanist-Bold.ttf');
    font-display: swap;
}
@font-face{
    font-family: "Urbanist Regular";
    src: url('../fonts/Urbanist-Regular.ttf');
    font-display: swap;
}

$font-family-text: 'Roboto Regular', sans-serif;
$font-family-headline: 'Urbanist Bold', sans-serif;
$font-family-headline-small: 'Urbanist Regular', sans-serif;
