.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    .form__description{
        width: 100%;

        @media screen and (min-width:$breakpoint){
            width: 49%;
        }

        p{
            margin: 0;
        }
    
    }
    
    .form__realform{
        width: 100%;
        margin-top: 1rem;

        @media screen and (min-width:$breakpoint){
            width: 49%;
            margin-top: 0;
        }

        .form-field{
            margin-top: 1rem;
            &:first-child{
                margin-top: 0;
            }

            .form-label{
                font-size: 120%;
            }
            .form-data{
                .form-input-wrapper{
                    input{
                        width: 100%;
                        padding: 1rem;
                        box-sizing: border-box;
                    }
                }
                .form-textarea-wrapper{
                    textarea{
                        width: 100%;
                        height: 30vh;
                        padding: 1rem;
                        box-sizing: border-box;
                        resize: none;
                        font-family: 'Roboto Regular';
                    }
                    
                }
            }
        }

        .buttons{
            .button{
                padding: 1rem;
                box-sizing: border-box;
                background-color: $color-purple-red;
                color: $color-white;
                border-radius: .5rem;
                border: 1px solid rgba(255,255,255,0);
                transition: 450ms ease-in-out;
                cursor: pointer;
                margin-top: 1rem;
                width: 100%;
                font-size: 3vh;
                
                &:hover{
                    background-color: $color-white;
                    border: 1px solid $color-purple-red;
                    color: $color-purple-red;
                }
                &:focus{
                    background-color: $color-white;
                    border: 1px solid $color-purple-red;
                    color: $color-purple-red;
                }
            }
        }
    }
}

.thankyou-wrapper{
    padding: 3rem 0 0 0;
}

.thankyou{
    h2{
        text-align: left;
    }
}

    