.table{
    padding: 0rem;
    

    h2{
        padding: 3rem;
        box-sizing: border-box;
    }
    @media screen and (min-width:$breakpoint){
        padding: 3rem;

        h2{
            padding: 0;
        }
    }
    
    .table__content{
        font-size: 38%;
        
        @media screen and (min-width:($phablet-width + 7px)){
            font-size: 120%;
        }

        border-right: 1px solid $color-grey-easy-transparent;

        .table__content__row{
            border-bottom: 1px solid $color-grey-easy-transparent;
            display: flex;

            .table__content__row__cell{
                padding: .5rem 1rem;
                border-left: 1px solid $color-grey-easy-transparent;
                box-sizing: border-box;
                width: 25%;
                text-align: center;
            }
        }
        .table__content__title-row{        
            justify-content: flex-end;    
            .table__content__title-row__cell{
                border-top: 1px solid $color-grey-easy-transparent;
                text-align: center;
                background-color: $color-grey-very-easy-transparent;
            }
        }
        .table__content__content-row{
            justify-content: flex-start;
            .table__content__content-row__cell{
                width: 25%;
                border-left: 1px solid $color-grey-easy-transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                a{
                    color: $color-purple-red;
                    transition: 450ms ease-in-out;

                    &:hover{
                        color: $color-orange;
                    }
                }
                
            }
            .table__content__content-row__description-cell{
                border-left: 1px solid $color-grey-easy-transparent;
                overflow: hidden;
                text-align: left;
                justify-content: flex-start;

            }
            .table__content__content-row__status-cell{
                img{
                    width: 10%;
                    min-width: .7rem;
                }
            }
        }
        .table__content__subtitle-row{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $color-grey-very-easy-transparent;
            padding: 1rem 1rem;
            box-sizing: border-box;
            border-left: 1px solid $color-grey-easy-transparent;
        }
    }
}