body {
  font-family: $font-family-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;

  ul, ol {
    padding-left: 1em;
  }

  p{
    line-height: 1.775!important;
    font-size: 120%;
  }

  h1, h2, h3 {
    text-align: center;
    width: 100%;
    font-size: 150%;

    @media screen and (min-width:$breakpoint){
      margin: 0 0 1.5rem 0;
      text-align: right;
    }
  }

  h1, h2 {
    font-family: $font-family-headline;
  }

  h2{
    margin: 0 0 3rem 0;
  }

  h3{
    margin: 4rem 0 3rem 0;
    font-family: $font-family-headline-small;
  }
}